.n-wrapper {
	height: 10vh;
	display: flex;
	justify-content: space-between;
}
.n-left {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 2rem;
}
.n-name {
	font-weight: bold;
	font-size: 1.3rem;
}
.n-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	
}
.n-list {
	flex: 10;
}
.n-list > ul {
	display: flex;
	margin-right: 4rem;
	gap: 2rem;
	font-weight: 500;
}
.n-item:hover {
	cursor: pointer;
	color: var(--orange);
}
.n-list > ul>li{
	font-weight: 500;
}
.n-item {
	list-style: none;
	letter-spacing: 0.08em;
	font-weight: 500;

}
.n-btn {
	flex: 2;
}


@media screen  and (max-width: 480px) {
	.n-list {
		display: none;
	}
	.n-btn {
		display: none;
	}
}
